@import "tailwindcss";

@theme {
  --color-background: #f9fafb;
  --color-foreground: #171717;
  --color-background-dark: #101828;
  --color-foreground-dark: #f9fafb;
}

@variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
}

.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-foreground-dark);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}
